    </div>
    <div class="large-4 columns" style="margin-top: 1rem">
      <h5>
          Contact Us
      </h5>
      <p>
        <b>
          Chinese Student Association (UAF CSA) <br />          
        </b>
        104A, WestRidge Building <br />
        Phone: 907-888-6743 <br />
        Email: <a href="mailto:hliao@alaska.edu">hliao@alaska.edu</a>
      </p>
      <hr>
      <h5>
        Event Calendar
      </h5>
      [[module:mini_calendar]]<br />
      <h5>
        Quick Links
      </h5>
      <hr>
      <ul>
        <li>
          <a href="http://www.china-embassy.org/eng/">Embassy in US</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-container">
    <div class="row">
      <div class="large-4 columns">
        <p>
          <b>
            University of Alaska Fairbanks <br />
            Student life, Chinese Student Association (CSA) <br />
          </b>
          104A, WestRidge Building <br />
          Phone: 907-888-6743
        </p> 
      </div>
      <div class="large-4 columns">
        <p style="text-align: center; font-style: italic">
          <b>
            Connect with us <br />
            <a href="https://www.facebook.com/UAF-Chinese-Student-Association-295828900456730/"><i class="fi-social-facebook" style="font-size:34px;color: #ffffff"></i></a>
            &nbsp;&nbsp;
            <a href=""><i class="fi-social-youtube" style="font-size:34px;color: #ffffff"></i></a>
            <br />
          </b>
        </p>
      </div>
      <div class="large-4 columns">
        <p style="text-align: right; padding-top: 4.5rem">
          Powered by OrgSync
        </p>
      </div>

    </div>   
  </div>
      <!-- jQuery library -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>


  <!-- Latest compiled modernizr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

  <script>
    $(document).foundation();
    $(document).ready(function(){
        $("#flip").click(function(){
            $("#profile-hide").slideToggle("slow");
        });
    });
</script>
</body>
</html>