<body>
  <div style="background-color: gray; opacity: 0.8; height: 8rem">
    
  </div>
  <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        <ul class="title-area">
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>       
        <ul class="left">
          <li>
            <a href="[[page:home]]"><i class="fi-home"></i> Home</a>
          </li>
          <li>
            <a href="[[page:News]]">News</a>
          </li>
          <li>
            <a href="[[page:Events]]">Events</a>
          </li>
          <li>
            <a href="[[page:Pictures]]">Gallery</a>
          </li>
          <li>
            <a href="[[page:Forms]]">Resources</a>
          </li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Campus Links</a>
            <ul class="dropdown">
              <li>
                <a href="https://www.uaf.edu">UAF Homepage</a>
              </li>
              <li>
                <a href="https://www.uaf.edu/oip/">International Office</a>
              </li>
              <li>
                <a href="https://www.uaf.edu/woodcenter/leadership/organizations/active/">Student Organizations</a>
              </li>
              <li>
                <a href="http://www.uaf.edu/reslife/services/">Division of Student Service</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="https://www.orgsync.com/login/university-of-alaska-fairbanks" class="button">Login OrgSync</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="large-8 columns">